{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">Check your answers</h1>
      <p class="govuk-body">We want to make sure we've heard what you've said so we can give you the best information we can to help.</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {# Always shown #}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
            {{ data.firstName if data.firstName else 'Not provided' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/whats-your-first-name">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How you're finding your current situation</dt>
          <dd class="govuk-summary-list__value">
            {% if data.feeling is string %}{{ data.feeling }}{% elif data.feeling %}{{ data.feeling | join(', ') }}{% else %}Not provided{% endif %}{% if data.feelingMoreDetail %}<br><br>{{ data.feelingMoreDetail }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/current-situation">Change<span class="govuk-visually-hidden"> how you're finding your current situation</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What you need to do</dt>
          <dd class="govuk-summary-list__value">
            {% if data.task is string %}{{ data.task }}{% elif data.task %}{{ data.task | join(', ') }}{% else %}Not provided{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/what-do-you-need-to-do">Change<span class="govuk-visually-hidden"> what you need to do</span></a>
          </dd>
        </div>

        {# Education branch #}

        {% if data.educationStatus %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Where you're at with education</dt>
          <dd class="govuk-summary-list__value">
            {{ data.educationStatus }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/where-are-you-at-with-education">Change<span class="govuk-visually-hidden"> where you're at with education</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['college-help'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Which parts of college or sixth form you need help with</dt>
          <dd class="govuk-summary-list__value">
            {% if data['college-help'] is string %}{{ data['college-help'] }}{% else %}{{ data['college-help'] | join(', ') }}{% endif %}{% if data.collegeHelpMoreDetail %}<br><br>{{ data.collegeHelpMoreDetail }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/which-parts-of-college-or-sixthform-do-you-need-help-with">Change<span class="govuk-visually-hidden"> which parts of college or sixth form you need help with</span></a>
          </dd>
        </div>
        {% endif %}

        {% if data['HS-or-PRU-help'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Which parts of your education you need help with</dt>
          <dd class="govuk-summary-list__value">
            {% if data['HS-or-PRU-help'] is string %}{{ data['HS-or-PRU-help'] }}{% else %}{{ data['HS-or-PRU-help'] | join(', ') }}{% endif %}{% if data.HSorPRUHelpMoreDetail %}<br><br>{{ data.HSorPRUHelpMoreDetail }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/which-parts-of-hs-or-pru-do-you-need-help-with">Change<span class="govuk-visually-hidden"> which parts of your education you need help with</span></a>
          </dd>
        </div>
        {% endif %}

        {# Apprenticeship branch #}

        {% if data['apps-help'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Which parts of getting an apprenticeship you need help with</dt>
          <dd class="govuk-summary-list__value">
            {% if data['apps-help'] is string %}{{ data['apps-help'] }}{% else %}{{ data['apps-help'] | join(', ') }}{% endif %}{% if data.appsHelpMoreDetail %}<br><br>{{ data.appsHelpMoreDetail }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/which-parts-of-apprenticeship-do-you-need-help-with">Change<span class="govuk-visually-hidden"> which parts of getting an apprenticeship you need help with</span></a>
          </dd>
        </div>
        {% endif %}

        {# Job branch #}

        {% if data['job-help'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Which parts of getting a job you need help with</dt>
          <dd class="govuk-summary-list__value">
            {% if data['job-help'] is string %}{{ data['job-help'] }}{% else %}{{ data['job-help'] | join(', ') }}{% endif %}{% if data.jobHelpMoreDetail %}<br><br>{{ data.jobHelpMoreDetail }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/which-parts-of-job-do-you-need-help-with">Change<span class="govuk-visually-hidden"> which parts of getting a job you need help with</span></a>
          </dd>
        </div>
        {% endif %}

        {# Job and apprenticeship branch #}

        {% if data['joborapp-help'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Which parts of getting a job or apprenticeship you need help with</dt>
          <dd class="govuk-summary-list__value">
            {% if data['joborapp-help'] is string %}{{ data['joborapp-help'] }}{% else %}{{ data['joborapp-help'] | join(', ') }}{% endif %}{% if data.joborappHelpMoreDetail %}<br><br>{{ data.joborappHelpMoreDetail }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/which-parts-of-job-or-apps-do-you-need-help-with">Change<span class="govuk-visually-hidden"> which parts of getting a job or apprenticeship you need help with</span></a>
          </dd>
        </div>
        {% endif %}

        {# Catch-all branch #}

        {% if data['all-options-help'] or data['all-options-form-help'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">What you're finding difficult</dt>
          <dd class="govuk-summary-list__value">
            {% if data['all-options-form-help'] %}
              {% if data['all-options-form-help'] is string %}{{ data['all-options-form-help'] }}{% else %}{{ data['all-options-form-help'] | join(', ') }}{% endif %}
            {% endif %}
            {% if data['all-options-help'] %}
              {% if data['all-options-form-help'] %}<br>{% endif %}
              {% if data['all-options-help'] is string %}{{ data['all-options-help'] }}{% else %}{{ data['all-options-help'] | join(', ') }}{% endif %}
            {% endif %}
            {% if data['all-optionsHelpMoreDetail'] %}<br><br>{{ data['all-optionsHelpMoreDetail'] }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/what-are-you-finding-difficult">Change<span class="govuk-visually-hidden"> what you're finding difficult</span></a>
          </dd>
        </div>
        {% endif %}

      </dl>

      
        <form action="/What-you-can-do-next" method="post">
          <div class="govuk-button-group">
            {{ govukButton({ text: "Continue" }) }}
            <a class="govuk-link" href="#">Cancel</a>
          </div>
        </form>
      
      <div class="govuk-button-group">
        <a class="govuk-link" href="#">Text or email this page</a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
