{% extends "layouts/main.html" %}

{% block pageTitle %}
  I want to switch to a different course – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
{% endblock %}
{% block content %}
<section class="neet-advice-hero">
  <img src="/public/images/pass-gcse-maths-advice-hero.jpg" alt="" class="neet-advice-hero__image">
</section>

<div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-left-4">
    <div class="govuk-grid-column-full-width">
      <h2 class="govuk-heading-l">I want to pass my GCSE maths resit</h2>
       <p>It can be exhausting having to keep resitting your maths GCSE. You’re not the only one - over 200,000 young people in England sat their maths GCSE again in 2025.</p>
      <div data-module="appstepnav" id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all sections" data-hide-all-text="Hide all sections">
        <ol class="app-step-nav__steps">

          <li class="app-step-nav__step js-step" id="who-to-speak-to-and-when">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">Who to speak to and when</span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-who-to-speak-to-and-when-1">
              <p class="app-step-nav__paragraph"><strong>Maths teacher:</strong> Your maths teacher should be able to give you specific advice on what to focus on or improve.</p>
              <p class="app-step-nav__paragraph"><strong>Any teacher:</strong> If you don't feel you can speak to your course tutor, it's okay to speak to any teacher or tutor you feel comfortable with. They should listen and help you create a plan.</p>
              <p class="app-step-nav__paragraph"><strong>Student support services:</strong> Your college will likely have some form of pastoral officer or careers adviser you can speak to for help with your resit.</p>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="review-your-last-results">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">Review your last results with a teacher</span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-review-your-last-results-2">
              <p class="app-step-nav__paragraph">You might find it useful to review your last exam paper with your maths teacher.</p>
              <p class="app-step-nav__paragraph">They can help you see what your strengths are, where things went wrong and specific topics you can improve.</p>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="alternative-to-gcse-maths">
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">Alternative to GCSE maths</span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-alternative-to-gcse-maths-3">
              <p class="app-step-nav__paragraph">If you're struggling to pass after multiple tries, you might be able to do a functional skills qualification instead. This is equivalent to a grade 4 and is widely accepted as an alternative to a GCSE.</p>
              <p class="app-step-nav__paragraph">Your maths teacher or student support services can help see if you're eligible.</p>
              <p class="app-step-nav__paragraph">You might want to ask to speak to a careers adviser. They can help you see if your next step after college accepts a functional skills qualification.</p>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="understand-your-options">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">Understand your options for after college</span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-understand-your-options-4">
              <p class="app-step-nav__paragraph">Your maths teacher or student support services should help you understand what your options are if you do or do not pass maths.</p>
              <p class="app-step-nav__paragraph">They might refer you to a careers adviser so you can chat about your goals and help you create a plan.</p>
              <p class="app-step-nav__paragraph">There are options if you need to do your maths resit after college. You might be able to do a course in a library, adult education centre or other local venue.</p>
              <p class="app-step-nav__paragraph">You might want to speak to a careers adviser so you can chat about your goals. They can help you create a plan.</p>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="what-you-can-ask">
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">What you can ask</span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-what-you-can-ask-5">
              <p class="app-step-nav__paragraph">Here are a few prompts of what to say to a tutor or teacher about your maths resit:</p>
              <p class="app-step-nav__paragraph">"Are there any resources I can use that are different from what I've already tried?"</p>
              <p class="app-step-nav__paragraph">"Can I get any further help or tutoring to help me pass?"</p>
              <p class="app-step-nav__paragraph">"Can you help me work out what I need to focus on?"</p>
              <p class="app-step-nav__paragraph">"I saw you could do a foundation year at uni if you don't pass maths. Can you help see if it's an option for me?"</p>
            </div>
          </li>

        </ol>
      </div>

    </div>
  </div>
</div>

{% endblock %}
