{% extends "layouts/main.html" %}

{% block pageTitle %}
  What do you need to do – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageBefore %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data.feeling is string %}
  {% set feelingText = data.feeling | lower %}
{% elif data.feeling %}
  {% set feelingText %}{% for item in data.feeling %}{% if not loop.first %}{% if loop.last %} and {% else %}, {% endif %}{% endif %}{{ item | lower }}{% endfor %}{% endset %}
{% else %}
  {% set feelingText = "stuck and anxious" %}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What do you need to do that’s making you feel {{ feelingText }}?
      </h1>
       <p>
        It's okay if you're not sure or feeling stuck with lots of things. Lots of young people feel that way. 
      </p>
      <p>
        You can choose what feels closest for now.
      </p>
      <form class="form" action="/where-are-you-at-with-education" method="post">
         
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="tasks-hint">
    <div id="tasks-hint" class="govuk-hint">
      Select all that apply
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task" name="task" type="checkbox" value="Switch to a different course">
        <label class="govuk-label govuk-checkboxes__label" for="task">Switch to a different course</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task-2" name="task" type="checkbox" value="Understand how my course can help me get to my goal">
        <label class="govuk-label govuk-checkboxes__label" for="task-2">Understand how my course can help me get to my goal</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task-3" name="task" type="checkbox" value="Pass my GCSE maths or English resit" aria-controls="conditional-task-3" aria-expanded="false">
        <label class="govuk-label govuk-checkboxes__label" for="task-3">Pass my GCSE maths or English resit</label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-task-3">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">Which subject?</legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="gcse-english" name="gcse" type="checkbox" value="English">
                <label class="govuk-label govuk-checkboxes__label" for="gcse-english">English</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="gcse-maths" name="gcse" type="checkbox" value="Maths">
                <label class="govuk-label govuk-checkboxes__label" for="gcse-maths">Maths</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task-4" name="task" type="checkbox" value="Work out what to do as I want to drop out">
        <label class="govuk-label govuk-checkboxes__label" for="task-4">Work out what to do as I want to drop out</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task-5" name="task" type="checkbox" value="I dropped out but plan to join a course next year">
        <label class="govuk-label govuk-checkboxes__label" for="task-5">I dropped out but plan to join a course next year</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task-6" name="task" type="checkbox" value="Apply for jobs">
        <label class="govuk-label govuk-checkboxes__label" for="task-6">Apply for jobs</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task-7" name="task" type="checkbox" value="Get work experience">
        <label class="govuk-label govuk-checkboxes__label" for="task-7">Get work experience</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task-8" name="task" type="checkbox" value="Create a CV or make my CV better">
        <label class="govuk-label govuk-checkboxes__label" for="task-8">Create a CV or make my CV better</label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="task-9" name="task" type="checkbox" value="Get an apprenticeship">
        <label class="govuk-label govuk-checkboxes__label" for="task-9">Get an apprenticeship</label>
      </div>
    </div>
    </div>
  </fieldset>
  <div class="govuk-button-group">
         {{ govukButton({
           text: "Continue"
         }) }}
         <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
